@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.anchor {
    -fx-background-color: #ede7f6;
}

.navbar {
    -fx-background-color: #2196f3;
}

.button, .menu-button {
    -fx-background-color: transparent;
    -fx-font-size: 12px;
    -fx-border-color: white;
    -fx-border-radius: 5px;
    -fx-text-fill: white;
}

.menu-button .label:hover {
    -fx-text-fill: #2196f3;
}

.button:hover, .menu-button:hover {
    -fx-background-color: white;
    -fx-border-radius: 5px;
    -fx-text-fill: #2196f3;
}

.menu-button .label {
    -fx-text-fill: white;
}

.menu-item .label {
    -fx-text-fill: black;
}

.root {
    -fx-font-family: "Poppins";
}

#eventName {
    -fx-font-size: 36px;
    -fx-font-weight: bold;
}

#eventDescription {
    -fx-max-width: 400px;
    -fx-wrap-text: true;
    -fx-font-size: 16px;
}

#eventLocation, #eventDate {
    -fx-font-weight: bold;
}

#title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-font-family: "Poppins";
    -fx-text-fill: green;
}

#joinEvent{
    -fx-font-size: 14px;
    -fx-background-color: black;
    -fx-text-fill: white;
}

#joinEvent:hover {
    -fx-background-color: white;
    -fx-text-fill: black;
}

#eventLabel, #eventTime {
    -fx-font-weight: bold;
}

#leaveEvent, #goBack {
    -fx-border-color: black;
    -fx-text-fill: black;
    -fx-background-color: transparent;
}

#leaveEvent:hover, #goBack:hover {
    -fx-border-color: black;
    -fx-text-fill: white;
    -fx-background-color: black;
}

#joinEvent {
    -fx-border-color: black;
    -fx-text-fill: white;
    -fx-background-color: black;
}

#joinEvent:hover {
    -fx-border-color: black;
    -fx-text-fill: black;
    -fx-background-color: transparent;
}